<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HANGMAN - WEB | TARDELLI Andrea | COLLIOT-MARTINEZ Théo | CHUPIN Tao</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/templates/assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/templates/assets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/templates/assets/style.css"/>
</head>
<body>
<header>
    <a class="bmpLogo" href="index.html">
        <img src="/templates/assets/favicon.png" alt="">
    </a>
</header>
<div id="acceuil">
    {{ template "index" . }}
</div>
<footer>
    <p>CRÉÉ PAR TAO THÉO ET ANDREA &copy; 2022</p>
</footer>
</body>
</html>
